* {
  margin: 0;
  padding: 0;
}

#top {
  width: 100%px;
  height: 177px;
  background-color: #fff;
  /* position: relative; */
  /* border: 1px solid greenyellow; */
}

#top_info {
  height: 28px;
  width: 100%;
  background-color: #f2f2f2;
}

#top_left_ul {
  list-style-type: none;
}

#top_left_ul li {
  float: left;
  margin: 0 20px;
  font-size: 10px;
  line-height: 28px;
  color: gray;
}

#top_left_ul li:nth-of-type(2) a {
  text-decoration: none;
  color: gray;
}

#top_left_ul li:nth-of-type(2) a:hover {
  color: red;
}

#top_left_ul li:nth-of-type(3) a {
  text-decoration: none;
  color: gray;
}

#top_left_ul li:nth-of-type(3) a:hover {
  color: red;
}

#top_right_ul {
  list-style-type: none;
  float: right;
}

#top_right_ul li {
  float: left;
  margin: 0 10px;
  font-size: 10px;
  color: gray;
  line-height: 28px;
  margin-left: 15px;
}

#top_right_ul li:nth-of-type(1) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(1) a:hover {
  color: red;
}

#top_right_ul li:nth-of-type(2) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(2) a:hover {
  color: red;
}

#top_right_ul li:nth-of-type(3) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(3) a:hover {
  color: red;
}

#top_right_ul li:nth-of-type(4) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(4) a:hover {
  color: red;
}

#top_right_ul li:nth-of-type(5) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(5) a:hover {
  color: red;
}

#top_right_ul li:nth-of-type(6) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(6) a:hover {
  color: red;
}

#header_center {
  width: 1090px;
  height: 110px;
  background-color: #fff;
  /* position: relative; */
  /* left: 220px; */
  margin: 0 auto;
  /* border: 1px solid red; */
  display: block;
}

#logo_box {
  width: 165px;
  height: 110px;
  position: relative;
  /* margin-top: 10px; */
  float: left;
  /* border: 1px solid black; */
}

#header_center a {
  background-image: url(../img/logo.jpg);
  display: block;
  width: 165px;
  height: 85px;
  text-indent: -999em;
  margin-top: 10px;
  /* float: left; */
}

#search_box input:nth-of-type(1) {
  height: 38px;
  border: solid #ed145b;
  width: 317px;
  border-width: 3px 0 3px 3px;
  outline: none;

  color: gray;
}

#search_box input:nth-of-type(2) {
  height: 38px;
  width: 106px;
  position: absolute;
  border: 0;
  background-color: #ed145b;
  color: white;
}
#search_box {
  width: 423px;
  height: 38px;
  /* border: 1px solid black; */
  margin: 0 auto;
  /* position: relative;
  top: 35px; */
  padding-top: 28px;

  /* margin-top: -10px; */
}

#nav {
  width: 100%;
  height: 39px;
  background-color: black;
  display: inline-block;
}
#nav ul {
  list-style-type: none;
  width: 100%;
  display: inline-block;
  height: 39px;
  text-align: center;
  position: relative;
  z-index: 8;
}

#nav ul li {
  line-height: 39px;
  display: inline-block;
  color: #fff;
  margin: 0 30px;
}

#nav a {
  display: inline-block;
  height: 39px;
  font-size: 14px;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 70px;
}

#nav a:hover {
  color: gray;
}

#nav li:nth-of-type(1) {
  background-color: #ed145b;
}

#content {
  background-color: #f7f7f7;
  width: 100%;
  /* border: 1px solid red; */
  /* height: 4000px;
   */
  margin: 0 auto;
}

#limit {
  margin: 0 auto;
  /* border: 1px solid greenyellow; */
  width: 1110px;
}

#must_s {
  width: 1090px;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

#must_see {
  background-image: url(../img/must_check_out.jpg);
  width: 1090px;
  background-repeat: no-repeat;
  height: 28px;
  margin-top: 10px;
}

#today {
  width: 1090px;
  height: 25px;
}

#today_list {
  height: 25px;
  width: 1090px;
  margin-top: 15px;
  background-position: 0px -202px;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
  background-image: url(../img/oth.png);
}

#details {
  list-style-type: none;
  /* border: 1px dashed blue; */
  margin-top: 20px;
}

#details ul {
  width: 1110px;
  height: 450px;
  display: inline-block;
}

#details li {
  display: inline-block;
  width: 350px;
  height: 470px;
  background-color: white;
  margin-bottom: 20px;
  margin-right: 15px;
  box-shadow: 2px 2px 4px #e3e3e3;
}
.as {
  overflow: hidden;
  display: block;
}

.imgs {
  margin-left: -230px;
  width: 862px;
  height: 345px;
}

#single {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid gray;
  box-shadow: gray 0px 0px 5px;
  position: relative;
}

#single::before {
  content: "";
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 160px;
  border-radius: 25px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(3px);
}
#single::after {
  content: "";
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 160px;
  border-radius: 25px;
  right: 0px;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(3px);
}

#content_p {
  width: 4000px;
  height: 400px;
  float: left;
  animation: lunbo 15s ease infinite;
}

#pic1 {
  background-image: url(../img/1.jpg);
  width: 1000px;
  height: 400px;
  float: left;
}
#pic2 {
  background-image: url(../img/2.jpg);
  width: 1000px;
  height: 400px;
  float: left;
}
#pic3 {
  background-image: url(../img/3.jpg);
  width: 1000px;
  height: 400px;
  float: left;
}
#pic4 {
  background-image: url(../img/4.jpg);
  width: 1000px;
  height: 400px;
  float: left;
}

@keyframes lunbo {
  0% {
    transform: translate(0);
  }
  12.5% {
    transform: translate(0);
  }
  25% {
    transform: translate(-1000px);
  }
  37.5% {
    transform: translate(-1000px);
  }
  50% {
    transform: translate(-2000px);
  }
  62.5% {
    transform: translate(-2000px);
  }
  75% {
    transform: translate(-3000px);
  }
  87.5% {
    transform: translate(-3000px);
  }
  100% {
    transform: translate(0px);
  }
}

#details a {
  text-decoration: none;
}

.text p {
  height: 48px;
  width: 330px;
  color: #333333;
  line-height: 25px;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  left: 10px;
  /* overflow: hidden; */
}

span {
  height: 20px;
  color: #ed145b;
  font-size: 20px;
}
