* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

#top {
  width: 100%px;
  height: 177px;
  background-color: #fff;
  /* position: relative; */
  /* border: 1px solid greenyellow; */
}

#top_info {
  height: 28px;
  width: 100%;
  background-color: #f2f2f2;
}

#top_left_ul {
  list-style-type: none;
}

#top_left_ul li {
  float: left;
  margin: 0 20px;
  font-size: 10px;
  line-height: 28px;
  color: gray;
}

#top_left_ul li:nth-of-type(2) a {
  text-decoration: none;
  color: gray;
}

#top_left_ul li:nth-of-type(2) a:hover {
  color: red;
}

#top_left_ul li:nth-of-type(3) a {
  text-decoration: none;
  color: gray;
}

#top_left_ul li:nth-of-type(3) a:hover {
  color: red;
}

#top_right_ul {
  list-style-type: none;
  float: right;
}

#top_right_ul li {
  float: left;
  margin: 0 10px;
  font-size: 10px;
  color: gray;
  line-height: 28px;
  margin-left: 15px;
}

#top_right_ul li:nth-of-type(1) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(1) a:hover {
  color: red;
}

#top_right_ul li:nth-of-type(2) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(2) a:hover {
  color: red;
}

#top_right_ul li:nth-of-type(3) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(3) a:hover {
  color: red;
}

#top_right_ul li:nth-of-type(4) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(4) a:hover {
  color: red;
}

#top_right_ul li:nth-of-type(5) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(5) a:hover {
  color: red;
}

#top_right_ul li:nth-of-type(6) a {
  color: gray;
  text-decoration: none;
}

#top_right_ul li:nth-of-type(6) a:hover {
  color: red;
}

#header_center {
  width: 1090px;
  height: 110px;
  background-color: #fff;
  /* position: relative; */
  /* left: 220px; */
  margin: 0 auto;
  /* border: 1px solid red; */
  display: block;
}

#logo_box {
  width: 165px;
  height: 110px;
  position: relative;
  /* margin-top: 10px; */
  float: left;
  /* border: 1px solid black; */
}

#header_center a {
  background-image: url(../img/logo.jpg);
  display: block;
  width: 165px;
  height: 85px;
  text-indent: -999em;
  margin-top: 10px;
  /* float: left; */
}

#search_box input:nth-of-type(1) {
  height: 38px;
  border: solid #ed145b;
  width: 317px;
  border-width: 3px 0 3px 3px;
  outline: none;
  color: gray;
}

#search_box input:nth-of-type(2) {
  height: 38px;
  width: 106px;
  position: absolute;
  border: 0;
  background-color: #ed145b;
  color: white;
}

#search_box {
  width: 423px;
  height: 38px;
  /* border: 1px solid black; */
  margin: 0 auto;
  /* position: relative;
  top: 35px; */
  padding-top: 28px;
  /* margin-top: -10px; */
}

#nav {
  width: 100%;
  height: 39px;
  background-color: black;
  display: inline-block;
}

#nav ul {
  list-style-type: none;
  width: 100%;
  display: inline-block;
  height: 39px;
  text-align: center;
  position: relative;
  z-index: 8;
}

#nav ul li {
  line-height: 39px;
  display: inline-block;
  color: #fff;
  margin: 0 30px;
}

#nav a {
  display: inline-block;
  height: 39px;
  font-size: 14px;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 70px;
}

#nav a:hover {
  color: gray;
}

#nav li:nth-of-type(1) {
  background-color: #ed145b;
}

#content {
  background-color: #f7f7f7;
  width: 100%;
  /* border: 1px solid red; */
  /* height: 4000px;
   */
  margin: 0 auto;
}

#limit {
  margin: 0 auto;
  /* border: 1px solid greenyellow; */
  width: 1110px;
}

#must_s {
  width: 1090px;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

#must_see {
  background-image: url(../img/must_check_out.jpg);
  width: 1090px;
  background-repeat: no-repeat;
  height: 28px;
  margin-top: 10px;
}

#today {
  width: 1090px;
  height: 25px;
}

#today_list {
  height: 25px;
  width: 1090px;
  margin-top: 15px;
  background-position: 0px -202px;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
  background-image: url(../img/oth.png);
}

#details {
  list-style-type: none;
  /* border: 1px dashed blue; */
  margin-top: 20px;
}

#details ul {
  width: 1110px;
  height: 450px;
  display: inline-block;
}

#details li {
  display: inline-block;
  width: 350px;
  height: 470px;
  background-color: white;
  margin-bottom: 20px;
  margin-right: 15px;
  box-shadow: 4px 4px 8px #e3e3e3;
}

.tags {
  width: 40px;
  height: 40px;
  position: absolute;
}

.tags span {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../img/极速免税.jpg);
}

#little_box {
  width: 100px;
  height: 30px;
  display: block;
  position: absolute;
  z-index: 2;
  margin-top: 368px;
  left: 445px;
}

#little_box ul {
  display: inline-block;
  /* border: 1px salmon solid; */
  width: 120px;
  height: 15px;
}

#little_box li {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  margin: 0 3px;
  /* opacity: blur(1px); */
}

.as {
  overflow: hidden;
  display: block;
}

.imgs {
  margin-left: -230px;
  width: 862px;
  height: 345px;
}

#single {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #cfcfcf;
  box-shadow: gray 0px 0px 8px;
  position: relative;
}

#single::before {
  content: "<";
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  display: inline-block;
  position: absolute;
  top: 160px;
  border-radius: 25px;
  z-index: 2;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  /* filter: blur(3px); */
}

#single::after {
  content: ">";
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  display: inline-block;
  position: absolute;
  top: 160px;
  border-radius: 25px;
  right: 0px;
  z-index: 2;
  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.5);
  /* filter: blur(3px); */
}

#content_p {
  width: 4000px;
  height: 400px;
  float: left;
  animation: lunbo 15s ease infinite;
  overflow: hidden;
}

#pic1 {
  background-image: url(../img/1.jpg);
  width: 1000px;
  height: 400px;
  float: left;
}

#pic2 {
  background-image: url(../img/2.jpg);
  width: 1000px;
  height: 400px;
  float: left;
}

#pic3 {
  background-image: url(../img/3.jpg);
  width: 1000px;
  height: 400px;
  float: left;
}

#pic4 {
  background-image: url(../img/4.jpg);
  width: 1000px;
  height: 400px;
  float: left;
}

@keyframes lunbo {
  0% {
    transform: translate(0);
  }
  12.5% {
    transform: translate(0);
  }
  25% {
    transform: translate(-1000px);
  }
  37.5% {
    transform: translate(-1000px);
  }
  50% {
    transform: translate(-2000px);
  }
  62.5% {
    transform: translate(-2000px);
  }
  75% {
    transform: translate(-3000px);
  }
  87.5% {
    transform: translate(-3000px);
  }
  100% {
    transform: translate(0px);
  }
}

#details a {
  text-decoration: none;
}

.text p {
  height: 48px;
  width: 330px;
  color: #333333;
  line-height: 25px;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  left: 10px;
  /* overflow: hidden; */
}

span {
  height: 20px;
  color: #ed145b;
  font-size: 20px;
}

#bottom_info {
  width: 100%;
  height: 440px;
  border-top: 1px solid rgba(204, 204, 204, 0.8);
  background-color: #fff;
}

#bottom_top_info {
  width: 1200px;
  height: 150px;
  /* border: 2px dashed blue; */
  margin: 0 auto;
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
}

.as img:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}

#details_box {
  margin-top: 20px;
  margin-left: 35px;
}

.top_box1 {
  width: 150px;
  height: 150px;
  /* border: greenyellow 1px solid; */
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.img_info1 {
  display: block;
  width: 63px;
  height: 63px;
  margin: 0 auto;
  background-position: 0px 0px;
  /* border: 1px solid pink; */
  background-image: url(../img/footer_0901.jpg);
}
.img_info2 {
  display: block;
  width: 63px;
  height: 63px;
  margin: 0 auto;
  background-position: -128px 0px;
  /* border: 1px solid pink; */
  background-image: url(../img/footer_0901.jpg);
}
.img_info3 {
  display: block;
  width: 63px;
  height: 63px;
  margin: 0 auto;
  background-position: -190px 0px;
  /* border: 1px solid pink; */
  background-image: url(../img/footer_0901.jpg);
}
.img_info4 {
  display: block;
  width: 63px;
  height: 63px;
  margin: 0 auto;
  /* border: 1px solid pink; */
  background-position: -251px 0px;

  background-image: url(../img/footer_0901.jpg);
}
.img_info5 {
  display: block;
  width: 63px;
  height: 63px;
  margin: 0 auto;
  /* border: 1px solid pink; */
  background-position: -315px 0px;

  background-image: url(../img/footer_0901.jpg);
}
.img_info6 {
  display: block;
  width: 63px;
  height: 63px;
  margin: 0 auto;
  background-position: -379px 0px;
  background-image: url(../img/footer_0901.jpg);
}

.info_box1 {
  display: inline-block;
  color: #333333;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  top: 10px;
}

#return a {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  right: 20px;
  top: 220px;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 80px;
  background-color: rgba(0, 0, 0, 0.4);
}

#return a:hover {
  opacity: 0.4;
  transition: all 0.5s ease-in-out;
}

#left_info_box {
  width: 180px;
  margin-left: -80px;
  margin: 0 10px;
  /* border: 1px solid red; */
  float: left;
}

#left_info_box1 {
  list-style-type: none;
}

#left_info_box1 li {
  margin-top: 4px;
}

#left_info_box1 a {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  width: 200px;
}

#left_info_box1 a:hover {
  color: #ed145b;
}

#left_info_box1 li:nth-of-type(1) {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0px;
}

#center_info_box {
  float: left;
  margin: 0 10px;

  /* border: 1px solid red; */
}

#center_info_box1 {
  list-style-type: none;
}

#center_info_box1 a {
  text-decoration: none;
  text-align: center;
  color: #333333;
}

#center_info_box1 a:hover {
  color: #ed145b;
}

#center_info_box1 li {
  margin-top: 4px;
}

#center_info_box1 li:nth-of-type(1) {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0px;
}

#pay_info {
  float: left;
  margin-left: -20px;

  /* border: 1px solid red; */
}

#pay_info_box {
  list-style-type: none;
}

#pay_info_box a {
  text-decoration: none;
  text-align: center;
  color: #333333;
}

#pay_info_box a:hover {
  color: #ed145b;
}

#pay_info_box li {
  margin-top: 4px;
}

#pay_info_box li:nth-of-type(1) {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0px;
}

#transport_box {
  float: left;
  /* border: blue 1px solid; */
  margin: 0 30px;
}

#transport_info_box {
  list-style-type: none;
}

#transport_box a {
  text-decoration: none;
  text-align: center;
  color: #333333;
}

#transport_box a:hover {
  color: #ed145b;
}

#transport_info_box li {
  margin-top: 4px;
}

#transport_info_box li:nth-of-type(1) {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0px;
}

#retail_box {
  float: left;
  /* border: blue 1px solid; */
  margin: 0 10px;
}

#retail_info_box {
  list-style-type: none;
}

#retail_box a {
  text-decoration: none;
  text-align: center;
  color: #333333;
}
#retail_box a:hover {
  color: #ed145b;
}

#retail_info_box li {
  margin-top: 4px;
}

#retail_info_box li:nth-of-type(1) {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0px;
}

#download_code {
  /* border: 1px dashed black; */
  float: left;
  margin-left: 20px;
}

#download_code ul {
  list-style-type: none;
  margin-top: 5px;
}

#download_info_box {
  margin: 0 20px;
}

#download_info_box li {
  margin-top: 4px;
}

#download_info_box li:nth-of-type(1) {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0px;
  text-align: center;
}

#download_info_box li:nth-of-type(2) {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  /* border: 1px solid black; */
  background-image: url(../img/header_corn_new_v2.png);
  background-position: 0px -423px;
}

#user_info {
  /* border: 1px dashed black; */
  float: left;
  margin-left: 20px;
}

#user_info ul {
  list-style-type: none;
  margin-top: 5px;
}

#user_info_box li {
  margin-top: 4px;
}

#user_info_box li:nth-of-type(2) {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  /* border: 1px solid black; */
  background-image: url(../img/header_corn_new_v2.png);
  background-position: 0px -423px;
}

#user_info_box li:nth-of-type(1) {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0px;
  text-align: center;
}

#bottom_img {
  width: 100%;
  height: 95px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../img/footer_dy.jpg);
  margin-top: 390px;
  background-size: 110% 100%;
}

#code {
  position: relative;
  width: 100px;
  height: 100px;
  /* float: right; */
  background-image: url(../img/code.png);
  right: -945px;
  top: -65px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 3px dashed red;
}

#return a {
  display: inline-block;
  border-radius: 10%;
}
